html
	head
		title= "Blogsalot"
		link( href="/resources/css/materialize.min.css" type="text/css" rel="stylesheet" )
		link( href="/resources/main.css" type="text/css" rel="stylesheet" )
		link( href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body 
		nav
			.nav-wrapper
				a.brand-logo(href='/') Home
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href='/sign-up') Sign up Here 
					li
						a(href='/blogs') Blogsalot Blogs
					li
						a(href='/personalblog') Personal
		div#header.valign-wrapper
			div.row.valign
				div.col.l12
					h1.center.white-text See what all bloggsalloters speak about
					p.center.white-text 
						p= message
		//- Creating a nav bar and hero  section above.
		//- p= is the message that is send with the URL from app.js
		main
			each blogs in blog.reverse()
				div.container
					div.row
						div.col.l8.offset-l2
							div.card
								div.card-content.z-depth-5.slit
									ul
										li
										p Writer: #{blogs.user.name}
										li 
										p Title: #{blogs.title}
										li 
										p #{blogs.body}
										a(href="viewsinglepost?id=" + blogs.id ) View this post

		//- Here all are shown together with the name of the writer, this was a huge challege.
		//- the problem was in the backend, the the blog information had to incluse the user and incluse the user name.
		//- this was the writers id could have been added.

	footer.page-footer
		div.container
			div.row
				div.col.l6.s12
					h5.white-text Blogsalot
					p.grey-text.text-lighten-3 Thank you for visiting Blogsalot
					p.grey-text.text-lighten-3 and keep on blogging Blogsalotters
				div.col.l4.offset-l2.s12
					h5.white-text Social media
					ul.grey-text.text-lighten-3
						li Git hub
						li Twitter
						li Facebook
		div.footer-copyright
			div.container.grey-text © 2025 Copyright Text
	script( src="/resources/jquery-3.1.1.min.js" )
	script( src="/resources/js/materialize.min.js" )
	script( src="/resources/main.js" )